.container {
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
}

/* NAV */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 26px;
    background-color: #FFF7ED;
}

nav a {
    text-decoration: none;
    color: #4D4D4D;
}

nav ul a:hover,
nav ul a:focus,
nav ul a:active {
    font-weight: 600;
    color: #161616;
    padding-bottom: 1px;
    border-bottom: 3px solid #161616;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.logo-img {
    width: 70px;
}

.logo-text {
    font-weight: 900;
    font-size: 26px;
    line-height: 40px;
    color: #000000;
}

.logo-text>span {
    color: #FF8C38;
}


nav ul {
    display: flex;
    align-items: center;
    gap: 14px;
    list-style: none;
}

nav ul li {
    font-size: 1rem;
    font-weight: 600;
    line-height: 23px;
}

/* HOME */

section.home {
    padding: 65px 27px;
    background-image: url('/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.46);
    color: #FFFFFF;
}

.hero-header {
    font-weight: 800;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 23px;
}

.hero-description {
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 52px;
}

.cta-btn {
    background: #FF8C38;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: .5em 0;
    font-weight: 700;
    font-size: 1rem;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}