.container {
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
}

/* NAV */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 26px;
    background-color: #FFF7ED;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.logo-img {
    width: 70px;
}

.logo-text {
    font-weight: 900;
    font-size: 26px;
    line-height: 40px;
    color: #000000;
}

.logo-text>span {
    color: #FF8C38;
}


nav ul {
    display: flex;
    align-items: center;
    gap: 14px;
    list-style: none;
}

nav ul li {
    font-size: 1rem;
    font-weight: 600;
    line-height: 22.9%;
    color: #4D4D4D;
}