.container {
    max-width: 992px;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #FFF7ED;
}

section {
    padding: 65px 27px;
}

a {
    text-decoration: none;
    color: #161616;
}

/* HEADER & NAV */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px;
    background-color: #FFF7ED;
    box-shadow: 0 3px 4px -2px rgba(0, 0, 0, 0.2);
}

.hamburger {
    background-color: #FFF7ED;
    border: none;
    margin-left: auto;
    cursor: pointer;
    display: none;
    transition: background-color 0.2s ease-in-out;
}

.hamburger>svg:hover {
    color: #e76203;
    font-size: 2.2rem;
}

.hamburger svg {
    font-size: 2rem;
    color: #161616;
    transition: background-color 0.3s ease-in-out;
}

@media (max-width: 600px) {
    .main-nav ul {
        display: none;
        position: absolute;
        top: 100px;
        right: -250px;
        flex-direction: column;
        align-items: center;
        gap: unset;
        width: 100%;
        height: calc(100vh - 140px);
        background-color: #FFFFFF;
        transition: right 0.3s ease-in-out;
        animation: slideOut 0.3s forwards;
    }

    .main-nav ul.expanded {
        display: block;
        right: 0;
        animation: slideIn 0.5s forwards;
    }

    .main-nav ul li {
        width: 100%;
        text-align: center;
        padding: 1em 27px;
    }

    .main-nav ul li:not(:last-of-type) {
        border-bottom: 1px solid #E1E1E1;
    }

    .main-nav ul li a {
        display: block;
        width: 100%;
        height: 100%;
    }

    .main-nav ul li a:hover {
        border-bottom: unset;
    }

    .main-nav ul li:hover {
        background-color: #F5F5F5;
    }

    .hamburger {
        display: block;
    }

    @keyframes slideIn {
        from {
            right: -250px;
        }
        to {
            right: 0;
        }
    }
    
    @keyframes slideOut {
        from {
            right: 0;
        }
        to {
            right: -250px;
        }
    }


}

.nav a {
    color: #4D4D4D;
}

.nav a:hover {
    font-weight: 600;
    color: #161616;
    padding-bottom: 1px;
    border-bottom: 3px solid #161616;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-img {
    width: 70px;
    margin-bottom: -7px;
}

.logo-text {
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    color: #000000;
}

.logo-text>span {
    color: #FF8C38;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 23px;
    list-style: none;
}

nav ul li {
    font-size: 1rem;
    font-weight: 600;
    line-height: 23px;
}

section.host-car-detail nav {
    margin-top: 26px;
}

.nav svg {
    width: 24px;
    height: 24px;
    color: #161616;
}

.nav a.profile-avatar:hover {
    border-bottom: unset;
}

/* HOME */

section.home {
    background-image: url('/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.46);
    color: #FFFFFF;
}

.hero-header {
    font-weight: 800;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 23px;
}

.hero-description {
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 52px;
}

a.link-btn {
    background-color: #FF8C38;
    border: none;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
    padding: .5em 0;
    font-weight: 700;
    font-size: 1rem;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}

/* ABOUT SECTION */
section.about {
    padding: unset;
}

.about-img {
    width: 100%;
}

div.about-text {
    padding: 40px 27px 50px;
    color: #161616;
}

.about-header {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 1.5em;
}

.about-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 1.5em;
    text-align: justify;
}

.about-description>span {
    font-style: oblique;
}

.cta-container {
    width: 100%;
    padding: 32px 37px;
    background: #FFCC8D;
    border-radius: 5px;
    margin-top: 55px;
}

.cta-container h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 25px;
}

.cta-container h3>span {
    display: block;
}

.cta-container .link-btn {
    background-color: #161616;
    border-radius: 10px;
}

/* CARCARD COMPONENT */
.car-card {
    max-width: 230px;
    width: 100%;

}

.car-card a {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.card-img-container {
    height: 230px;
}

.car-card .car-img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 5px;
}

.car-card .car-info {
    display: flex;
    justify-content: space-between;
    color: #161616;
}

.car-card .car-info h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 100%;
}

.car-card .car-info h3>span {
    display: block;
    font-size: 14px;
    font-weight: 500;
    text-align: right;
}

.car-type {
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 32px;
    padding: 2px 0;
    color: #FFEAD0;
    align-self: flex-start;
    margin-top: -24px;
    width: 86px;
    text-align: center;
    text-transform: capitalize;
}

.car-type.simple {
    background-color: #E17654;
}

.car-type.luxury {
    background-color: #161616;
}

.car-type.rugged {
    background-color: #115E59;
}

/* CARS COMPONENT */
.cars-header {
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;
    color: #161616;
    margin-bottom: 23px;
}

.cars-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 34px;
}

.filter-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 23px 0 56px;
}

@media (max-width: 505px) {
    .cars-header {
        text-align: center;
    }

    .filter-container {
        flex-wrap: wrap;
    justify-content: center;
    }
}

.filter-container .car-type-btn {
    padding: 7px 26px;
    background-color: #FFEAD0;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #4D4D4D;
    text-transform: capitalize;
    outline: none;
    border: none;
    cursor: pointer;
}

.filter-container .car-type-btn:hover,
.filter-container .car-type-btn.selected {
    color: #FFEAD0;
    outline: none;
    font-weight: 700;
}

.filter-container .car-type-btn.simple:hover,
.filter-container .car-type-btn.simple.selected {
    background-color: #E17654;
}

.filter-container .car-type-btn.luxury:hover,
.filter-container .car-type-btn.luxury.selected {
    background-color: #161616;
}

.filter-container .car-type-btn.rugged:hover,
.filter-container .car-type-btn.rugged.selected {
    background-color: #115E59;
}

.car-type.clear-filter {
    width: unset;
    font-weight: 500;
    line-height: 24px;
    text-decoration-line: underline;
    color: #4D4D4D;
    background-color: unset;
    margin: 0;
    border: none;
    cursor: pointer;
    align-self: unset;
}

/* CAR DETAIL COMPONENT */
section.car-detail {
    padding-top: 40px;
    color: #161616;
}

.back-link {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 40px;
}

.back-icon {
    box-sizing: border-box;
    width: 11.96px;
    color: #858585;
}

.back-text {
    font-weight: 500;
    font-size: 1rem;
    line-height: 23px;
    text-decoration-line: underline;
    color: #201F1D;
}

.car-detail .car-img {
    width: 100%;
    border-radius: 5px;
}

.car-detail .car-type {
    margin: 50px 0 20px;
}

.car-detail .car-name {
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;
    margin-bottom: 10px;
}

.car-detail .car-price {
    font-weight: 700;
    font-size: 24px;
    line-height: 44px;
    margin-bottom: 10px;
}

.car-detail .car-price>span {
    font-weight: 500;
    font-size: 20px;
}

.car-detail .car-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #161616;
    margin-bottom: 21px;
}

/* HOST */
/* Host login */
.host-login-header {
    font-weight: 700;
    font-size: 32px;
    line-height: 24px;
    text-align: center;
    color: #161616;
}

.host-login-form {
    display: flex;
    flex-direction: column;
    margin: 48px 0;
}

.host-login-form input {
    padding: 9px 13px;
    background: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    border: 1px solid #d1d1d1;
}

.email-input {
    border-radius: 6px 6px 0px 0px;
}

.password-input {
    border-radius: 0px 0px 6px 6px;
    margin-bottom: 22px;
}

.sign-in-btn {
    padding: 18px 0;
    background: #FF8C38;
    border: none;
    border-radius: 6px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    
}

.sign-in-btn:disabled {
    background-color: #999;
}

.sign-up-text {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #161616;
}

.sign-up-link {
    font-weight: 700;
    color: #FF8C38;
}

.login-error {
    line-height: 20px;
    background-color: #FFFBEB;
    color: #92400E;
    padding: 16px;
    border-radius: 6px;
    min-width: 200px;
    width: 100%;
    text-align: center;
    margin-bottom: 24px;
}

/* Dashboard */
section.host-dashboard {
    padding: unset;
}

section.host-dashboard>* {
    padding-left: 27px;
    padding-right: 27px;
}

.dash-nav {
    margin: 2em 0 45px;
    padding-left: 27px;
    padding-right: 27px;
}

.dash-overview {
    background-color: #FFEAD0;
    padding: 37px 0;
}

.dash-overview h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 22px;
    color: #161616;
}

.income-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em 0;
}

.income-control h5 {
    font-weight: 500;
    font-size: 1rem;
    line-height: 22px;
    color: #4D4D4D;
}

.income-control h5>span {
    text-decoration-line: underline;
}

.dash-link {
    font-weight: 700;
    font-size: 1rem;
    color: #161616;
    cursor: pointer;
}

.overview-income {
    font-weight: 800;
    font-size: 48px;
    line-height: 38px;
    color: #161616;
}

/* Review */

.review-info {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #FFDDB2;
    padding-top: 45px;
    padding-bottom: 45px;
    color: #161616;
}

.review-score {
    display: flex;
    align-items: center;
    gap: 3px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.review-score span {
    font-weight: 500;
}

.review-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
}

.review-score>svg {
    color: #FF8C38;
    font-size: 16px;
}

.review-info .dash-link {
    margin-left: auto;
}

/* Listed cars */
.dash--listed-cars {
    padding-top: 38px;
    margin-bottom: 53px;
}

.dash--listed-cars-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.listed-cars-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
    color: #161616;
}

.dash--cars-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.dash--car-wrapper {
    display: flex;
    align-items: center;
    gap: 17px;
    background-color: #FFFFFF;
    padding: 18px 24px;
    border-radius: 5px;
}

.dash--car-thumb {
    width: 65px;
    height: 65px;
}

.dash--car {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.dash--car>h5 {
    margin-left: auto;
}

.dash--car-name {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
}

.dash--car-price {
    font-weight: 500;
    font-size: 16px;
    color: #4D4D4D;
}

/* HOST CARS */
section.host-cars {
    padding-top: 10px;
}

.host-cars .dash--listed-cars {
    padding-top: 0;
}

.host-cars .listed-cars-title {
    font-size: 32px;
    line-height: 34px;
}

/* HOST CAR DETAIL */
section.host-car-detail {
    padding-top: unset;
}

.host-car-wrapper {
    background-color: #FFFFFF;
    padding: 25px;
    border-radius: 5px;
}

.car-detail-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.host-car-wrapper .car-detail-wrapper img.car-img {
    max-width: 170px;
    width: 100%;
    height: 157px;
    border-radius: 5px;
}

.car-basic-info .car-type {
    margin-bottom: 16px;
}

.car-basic-info .car-name {
    margin-bottom: 2px;
    font-weight: 700;
    font-size: 26px;
    line-height: 27px;
    color: #161616;
}

.car-basic-info .car-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #161616;
}

.car-basic-info .car-price>span {
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
    color: #161616;
}

.host-car-wrapper .nav {
    margin-bottom: 27px;
}

.host-car-detail-description p {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #161616;
}

.host-car-detail-description p>span {
    font-weight: 500;
}

h4.feedback {
    margin-left: 27px;
}

/* HOST CAR DETAIL PRICE */
.host-car-detail-price {
    margin: 45px 0 20px;
}

.host-car-detail-price h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 21px;
    color: #161616;
}

.host-car-detail-price h3>span {
    font-size: 16px;
    color: #4D4D4D;
}

/* HOST CAR DETAIL PHOTOS */
.host-car-detail-photos {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 30px 0 15px;
}

.host-car-detail-photos img {
    width: 103px;
    border-radius: 5px;
}

/* HOST REVIEWS */
.host-reviews {
    padding-top: unset;
    padding-bottom: 20px;
}

.host-reviews h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;
    color: #161616;
    margin-bottom: 2em;
}

.host-reviews h2>span {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #4D4D4D;
    margin-left: 12px;
}

.host-reviews h2>span>span {
    font-weight: 700;
    border-bottom: 1px solid #161616;
}

.review-chart {
    margin-bottom: 20px;
}

.review-chart img {
    width: 100%;
}

.review-wrapper {
    padding-bottom: 25px;
    margin-bottom: 32px;
    border-bottom: 1px solid #C7C7C7;
}

.rating-stars {
    margin-bottom: 8px;
}

.rating-stars svg {
    width: 24px;
    height: 24px;
    color: #FF8C38;
}

.review-detail {
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: #161616;
    margin-bottom: 8px;
}

.review-detail span {
    color: #8C8C8C;
}

.review-comment {
    font-weight: 500;
    line-height: 22px;
    color: #161616;
}

/* HOST INCOME */
section.income {
    padding-top: unset;
}

.income-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 22px;
    color: #161616;
    margin-bottom: 43px;
}

.income-days {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #4D4D4D;
    margin-bottom: 31px;
}

.income-days span {
    font-weight: 700;
    color: #4D4D4D;
    border-bottom: 1px solid #4D4D4D;
}

.total-income {
    font-weight: 800;
    font-size: 48px;
    line-height: 38px;
    color: #161616;
    margin-bottom: 57px;
}

.income-chart {
    margin-bottom: 62px;
}

.income-chart img {
    width: 100%;
}

.transactions-header {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
    color: #161616;
    margin-bottom: 2em;
}

.transactions-header span {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #4D4D4D;
}

.transactions-header span>span {
    font-weight: 700;
    border-bottom: 1px solid #4D4D4D;
}

.transactions-list {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.transaction {
    background-color: #FFFFFF;
    padding: 35px 29px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transaction .amount {
    font-weight: 600;
    font-size: 36px;
    line-height: 32px;
    color: #161616;
}

.transaction .date {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #4D4D4D;
}

/* 404 PAGE */
section.page-not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    min-height: 73vh;
    padding-top: unset;
}

section.page-not-found h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #161616;
    /* text-align: center; */
}

.page-not-found a {
    width: 100%;
    padding: 13px 0;
    background: #161616;
    border-radius: 4.98319px;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}

/* FOOTER */
footer {
    background: #252525;
    padding: 26px 0;
    color: #AAAAAA;
    margin-top: auto;
}

.footer-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #AAAAAA;
    text-align: center;
}