.container {
    max-width: 992px;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #FFF7ED;
}

section {
    padding: 65px 27px;
}

a {
    text-decoration: none;
}

/* HEADER & NAV */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px;
    background-color: #FFF7ED;
}

.nav a {
    color: #4D4D4D;
}

.nav a:hover,
.nav a:focus,
.nav a:active {
    font-weight: 600;
    color: #161616;
    padding-bottom: 1px;
    border-bottom: 3px solid #161616;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-img {
    width: 70px;
    margin-bottom: -7px;
}

.logo-text {
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    color: #000000;
}

.logo-text>span {
    color: #FF8C38;
}


nav ul {
    display: flex;
    align-items: center;
    gap: 14px;
    list-style: none;
}

nav ul li {
    font-size: 1rem;
    font-weight: 600;
    line-height: 23px;
}

/* HOME */

section.home {
    background-image: url('/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.46);
    color: #FFFFFF;
}

.hero-header {
    font-weight: 800;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 23px;
}

.hero-description {
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 52px;
}

a.link-btn {
    background-color: #FF8C38;
    border: none;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
    padding: .5em 0;
    font-weight: 700;
    font-size: 1rem;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}

/* ABOUT SECTION */
section.about {
    padding: unset;
}

.about-img {
    width: 100%;
}

div.about-text {
    padding: 40px 27px 50px;
    color: #161616;
}

.about-header {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 1.5em;
}

.about-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 1.5em;
    text-align: justify;
}

.about-description>span {
    font-style: oblique;
}

.cta-container {
    width: 100%;
    padding: 32px 37px;
    background: #FFCC8D;
    border-radius: 5px;
    margin-top: 55px;
}

.cta-container h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 25px;
}

.cta-container h3>span {
    display: block;
}

.cta-container .link-btn {
    background-color: #161616;
    border-radius: 10px;
}

/* CARCARD COMPONENT */
.car-card {
    max-width: 230px;
    width: 100%;

}

.car-card a {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.card-img-container {
    height: 230px;
}

.car-card .car-img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 5px;
}

.car-card .car-info {
    display: flex;
    justify-content: space-between;
    color: #161616;
}

.car-card .car-info h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 100%;
}

.car-card .car-info h3>span {
    display: block;
    font-size: 14px;
    font-weight: 500;
    text-align: right;
}

.car-type {
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 32px;
    padding: 2px 0;
    color: #FFEAD0;
    align-self: flex-start;
    margin-top: -24px;
    width: 86px;
    text-align: center;
    text-transform: capitalize;
}

.car-type.simple {
    background-color: #E17654;
}

.car-type.luxury {
    background-color: #161616;
}

.car-type.rugged {
    background-color: #115E59;
}

/* CARS COMPONENT */
.cars-header {
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;
    color: #161616;
    margin-bottom: 23px;
}

.cars-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 34px;
}

.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 23px 0 56px;
}

.filter-container .car-type-btn {
    padding: 7px 26px;
    background-color: #FFEAD0;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #4D4D4D;
    text-transform: capitalize;
    outline: none;
    border: none;
}

.filter-container .car-type-btn:hover,
.filter-container .car-type-btn:focus,
.filter-container .car-type-btn:active {
    color: #FFEAD0;
    outline: none;
}

.filter-container .car-type-btn.simple:hover,
.filter-container .car-type-btn.simple:focus,
.filter-container .car-type-btn.simple:active {
    background-color: #E17654;
}

.filter-container .car-type-btn.luxury:hover,
.filter-container .car-type-btn.luxury:focus,
.filter-container .car-type-btn.luxury:active {
    background-color: #161616;
}

.filter-container .car-type-btn.rugged:hover,
.filter-container .car-type-btn.rugged:focus,
.filter-container .car-type-btn.rugged:active {
    background-color: #115E59;
}

.car-type.clear-filter {
    width: unset;
    font-weight: 500;
    line-height: 24px;
    text-decoration-line: underline;
    color: #4D4D4D;
    background-color: unset;
    margin: 0;
    align-self: unset;
}

/* CAR DETAIL COMPONENT */
section.car-detail {
    padding-top: 40px;
    color: #161616;
}

.back-link {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 40px;
}

.back-icon {
    box-sizing: border-box;
    width: 11.96px;
    color: #858585;
}

.back-text {
    font-weight: 500;
    font-size: 1rem;
    line-height: 23px;
    text-decoration-line: underline;
    color: #201F1D;
}

.car-detail .car-img {
    width: 100%;
    border-radius: 5px;
}

.car-detail .car-type {
    margin: 50px 0 20px;
}

.car-detail .car-name {
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;
    margin-bottom: 10px;
}

.car-detail .car-price {
    font-weight: 700;
    font-size: 24px;
    line-height: 44px;
    margin-bottom: 10px;
}

.car-detail .car-price>span {
    font-weight: 500;
    font-size: 20px;
}

.car-detail .car-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #161616;
    margin-bottom: 21px;
}

/* HOST */
/* Dashboard */
section.host-dashboard {
    padding: unset;
}

section.host-dashboard>* {
    padding-left: 27px;
    padding-right: 27px;
}

.dash-nav {
    margin: 2em 0 45px;
}

.dash-overview {
    background-color: #FFEAD0;
    padding: 37px 0;
}

.dash-overview h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 22px;
    color: #161616;
}

.income-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em 0;
}

.income-control h5 {
    font-weight: 500;
    font-size: 1rem;
    line-height: 22px;
    color: #4D4D4D;
}

.income-control h5>span {
    text-decoration-line: underline;
}

h5.dash-link {
    font-weight: 700;
    font-size: 1rem;
}

.income {
    font-weight: 800;
    font-size: 48px;
    line-height: 38px;
    color: #161616;
}

.review-info {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #FFDDB2;
    padding-top: 45px;
    padding-bottom: 45px;
    color: #161616;
}

.review-score {
    display: flex;
    align-items: center;
    gap: 3px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.review-score span {
    font-weight: 500;
}

.review-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
}

.review-score>svg {
    color: #FF8C38;
    font-size: 16px;
}

.review-info .dash-link {
    margin-left: auto;
}

/* FOOTER */
footer {
    background: #252525;
    padding: 26px 0;
    color: #AAAAAA;
    margin-top: auto;
}

.footer-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #AAAAAA;
    text-align: center;
}